<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Weather & Stock</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h1 style="text-algin:center">Weather & Stock</h1>
            <h3 class="js-Clock"></h3>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col">        
            <h3>Weather in Porvoo</h3>
                <ul>
                    {% for i in porvoo %}
                    <li>Temperature: {{i.temp}} </li>
                    <li>Description: {{i.desc}}</li>
                    {% endfor %} 
                </ul>
            <br>
        </div>
        <div class="col">
            <h3>Weather in Seoul</h3>
            <ul>
                    {% for i in seoul %}
                    <li>Temperature: {{i.temp}} </li>
                    <li>Description: {{i.desc}}</li>
                    {% endfor %} 
                </ul>
            <br>
        </div>
    </div>
</div>


<script>
const clock = document.querySelector(".js-Clock");

function showTime(){
    const date = new Date();
    const dd = String(date. getDate()). padStart(2, '0');
    const mm = String(date. getMonth() + 1). padStart(2, '0'); //January is 0!
    const yyyy = date. getFullYear();
    const hour = date.getHours();
    const minute = date.getMinutes();
    const second = date.getSeconds();
    
    const today = yyyy + '-' + mm + '-' + dd + '';
    const currentTime = 
    `${hour < 10 ? `0${hour}` : hour}:${minute < 10 ? `0${minute}` : minute}:${second < 10 ? `0${second}` : second}`;

    clock.innerText = today + '  ' + currentTime;
}
function init(){
    showTime();
    setInterval(showTime, 1000);
}
init();

</script>
</body>
</html>